* {
    margin:0;
}

}
.website {
    display: flex;
    flex-direction: column;
}
  
.navbar {
    display: flex;
    background-color: black;
    color: white;
    flex-direction: row;
    text-decoration: none;
    width:100%;
    align-items: stretch;
}

.navbarleft {
    width: 25%;
    font-size: 30px;
    padding: 10px;
    color: white;
}

.navbarright {
    display: flex;
    justify-content: center;
    width: 75%;
}
.navbarright a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 20px;
}

.navbarright a:hover {
    color: blue;

}

.feature-shows {
    position: relative;
    text-align: center;
    color: white;
}

.feature-shows img {
    height: 500px;
}

.featured-word {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
}

.main {
    margin: 80px 150px 20px 150px;
}

#date {
    
    background-color: rgb(245, 248, 248);
    text-align: left;
    padding: 10px;
    border: 2px solid lightgray;
}

.banner-rows {
    display:flex;
    color: black;
    flex-direction: column;
}

.banner-row1 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.main-left img {
    display: flex;
    flex:35%;
    max-height: 170px; 
   
    padding: 10px;
}

.main-middle {
    flex: 30%;
    padding: 20px 40px 20px 80px;
    text-align: left;
}

.main-right {
    flex: 25%;
    align-self: center;
}

.button {
    border: 1px solid black;
    color: white;
    padding: 15px ;
    text-decoration: none;
    font-size: 20px;
    margin: 30px 0 30px 0 ;
    background-color: rgb(255, 174, 0);
    float: right;
}

.footer {
    display:flex;
    color: white;
    background-color: black;
    width: 100%;
    height: 300px;
}

.footer-item {
    padding:20px;
    margin:10px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    align-content: left;
    flex-wrap: wrap;
}

.footer-item h {
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

.footer-item p {
    text-align: left;
    font-weight:lighter;
}
.map {
    flex:40%;
    padding: 5px;
    align-content: right;
}
    
.info {
    display: flex;
    flex-direction: column;
    flex: 20%;
    text-align: left;
}

.shows {
    Display: flex;
    flex-direction: column;
    flex: 20%;
}

.social {
    Display: flex;
    flex-direction: column;
    flex: 20%;
}
