*{
    margin: 0;
}


.header {
    text-align: center;
    font-size: 3vw;
    font-weight:bold;
    /*border-color: red 2px;*/
    padding: 15px;
}

.navbar {
    display: flex;
    background-color:black;
    background-size: 100%;
    width: 100%;  
}


.navbar a{
    padding: 10px;
    text-align: left;
    font-size: 1.3vw;
    text-decoration: none;
    color: white;
    padding: 30px;
}

.navbar a:hover {
    color: lightblue;
}


.main {
    display: flex;
    height: 600px;
    width: 80%;
    /*background-color: yellow;*/
    margin: 0 100px;
    position: relative
    
}

.leftbar {
    margin: 30px;
    display:flex;
    flex-direction:column;
    color: black;
    /*border: 2px solid green;*/
    width: 60%;
    height: 90%;
    border-radius: 20px;
}

.leftbar p{
    font-size: 1.1vw;
}

.lefttop {
    display: flex;
    padding: 20px;
    text-align: center;
    height:8%;
    padding: 20px;
    /*border: 2px solid red;*/
    background-color:lightblue;
    border-radius: 20px;
    flex-wrap: wrap;
    align-content: center;
    background-size: 100%;
}

.leftmiddle {
    display:flex;
    text-align: center;
    /*border: 2px solid blue;*/
    height: 25%;
    padding: 20px;
    background-color: lightblue;
    border-radius: 20px;
    flex-wrap: wrap;
    align-content: center;
    background-size: 100%;
}

.leftbottom {
    display:flex;
    text-align: center;
    /*border: 2px solid blue;*/
    height: 25%;
    padding: 20px;
    /*background-color: orange;*/
    border-radius: 20px;
    flex-wrap: wrap;
    align-content: center;
    font-size: 1.5 vw;
}

h2 {
    font-size:"1.3vw";
}

.rightbar {
    width: 30%;
    height: 90%;
    margin: 30px;
    display:flex;
    flex-direction:column;
    /*color: black;*/
   /*border: 2px solid green;*/
    border-radius: 20px;
}

.righttop{
    display: flex;
    width:100%;
    height: 40%;
    /*border: 2px solid black;*/
}

.righttopleft {
    position: relative;
    display: flex;
    /*border: 2px solid red;*/
    width: 50%;
    height: auto;
    flex-wrap: wrap;
    background-size: 100%;
}

.righttopright {
    position: relative;
    margin: 0px 0px 0px 20px;
    padding: 20px;
    text-align: left;
    width: 50%;
    height: 80%;
    /*border: 2px solid red;*/
    background-color:lightblue;
    border-radius: 20px;
    align-content: center;
    background-size: 100%;
}    

.nobullet {
    list-style-type: none;
    margin:0;
    padding: 15px;
}

.nobullet li {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.1vw;  
    margin: 5px;       
}

.rightbottom {
    margin: 15px 0 0 0;
    /*border: 2px solid red;*/
    height: 100%;
    background-color:lightblue;
    border-radius: 20px;
    align-content: cneter;
    padding: 10px;
    background-size: 100%;
    font-size: 1.1vw;
     
}

.footer {
    display: flex;
    width: 100%;
}

.row {
    display: flex;
}
.column {
    /*flaot: left;*/
    width: 10%;
    padding: 0px;
}
